MULTI_TAPPERS=20
# Số lượng trình duyệt chrome được phép chạy cùng lúc
MAX_CHROME_INSTANCES=10
KILL_ALL_CHROME=False

# Bật truy cập game qua ref link (True là bật, False là truy cập qua CHANEL_REF_LINK)
ENABLE_REF_LINK=True
REF_LINK="https://t.me/PAWSOG_bot/PAWS?startapp=t6WTZGQ2"

#Tên bot cần get iframe nếu truy cập qua CHANEL_REF_LINK (lấy theo tên bot đầy đủ trong link ref)
BOT_NAME="PAWSOG_bot"
CHANNEL_REF_LINK="https://web.telegram.org/k/#@lhsdevlink"
GPM_API_URL="http://127.0.0.1:19995"

# Tùy chọn cửa sổ profile mở lên to hoặc nhỏ (True là nhỏ, False là to)
WINDOW_SIZE_SMALL=False
# Số lượng dòng hiển thị cửa sổ nhỏ
WINDOW_SIZE_SMALL_ROWS=2
# Kiểm tra proxy có sử dụng SSL không (nếu để True mà thấy kiểm tra proxy không được thì nên đổi sang False)
PROXY_CHECK_SSL=True

# Bật tắt sử dụng proxy từ file proxy.txt (True là bật, False là tắt)
USE_PROXY_FROM_FILE=True
# Thời gian chờ iframe xuất hiện (giây)
TIME_WAIT_IFRAME_APPEAR=60

# Bật tắt tự động task (True là bật, False là tắt)
AUTO_TASK=True
# Danh sách các task không thực hiện (ví dụ: ["wallet"] sẽ không thực hiện task wallet)
IGNORE_TASKS=["wallet", "boost", "vote", "voteup", "votedown", "mystery", "emoji"]

# Thời gian chờ sau khi hoàn thành tất cả các task (giây)
DELAY_AFTER_DONE_TAPPER=[2856,3125]
